@import url('https://fonts.google.com/specimen/Titillium+Web');

* {
  margin: 0;
}

body,
#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Comic Neue", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

